header, body{
    background-color: rgb(99, 130, 134);
    margin: 0 auto;
    width: 1300px;
}
header{
    height: 100px;
}


.logo-app{
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    padding-top: 20px;
    color: rgb(255, 205, 129);
}
 
#cont_canvas{
    width: 1280px;
    height: 720px;
    margin: 100px auto;
    border: 5px solid black;

}